Makefile
conftest*
config.*
*autoconf*
test/
gen/

common/ptypes2tcl
indep-utils/cmu-scen-gen/setdest/calcdest
indep-utils/cmu-scen-gen/setdest/setdest
indep-utils/webtrace-conv/dec/dec-tr-stat
indep-utils/webtrace-conv/epa/epa-tr-stat
indep-utils/webtrace-conv/nlanr/nlanr-tr-stat
indep-utils/webtrace-conv/ucb/ucb-tr-stat
ns
nstk